<html>
	<head>
		<link rel="stylesheet" href="css/reset.css">
	</head>
	<body>
		<div style="width: 100%; height: 100%; background-color: black; position: absolute;">
			<div style="width: 18%; height: 35%; background-color: white; position: absolute;"></div>
			<div style="width: 80%; height: 78%; background-color: red; position: absolute; right:0px;"></div>
			<div style="width: 18%; height: 40%; background-color: white; position: absolute; top:38%;"></div>
			<div style="width: 18%; height: 20%; background-color: blue; position: absolute; bottom:0px;"></div>
			<div style="width: 6%; height: 8%; background-color: white; position: absolute; top:80%; right:0px;"></div>
			<div style="width: 6%; height: 8%; background-color: yellow; position: absolute; bottom:0px; right:0px;"></div>
			<div style="width: 70%; height: 20%; background-color: white; position: absolute; bottom:0px; left: 20%;"></div>
		</div>

	</body>
</html>